h1 {
    text-align: center;
}

body{
    
    background-color: #b9d9f2;
    font-family: 'Roboto',sans-serif;
}

.intro {
   margin-top: 20px;
   text-align: right;
    /* background-color: green; */
    
}
.uploadButton {
    width: 100px;
    margin: auto;
    

}

button[type="button"]{
    border: 0.5;
    background-color: #ffedc9;
    
}
input[type="submit"]{
    border: 0.5;
    background-color: #ffedc9;
    
}
input[type="button"]{
    border: 0.5;
    background-color: #ffedc9;
    
}

.searching {

    /* background-color: yellow; */
    width: 500px;
    text-align: center;

}
.product-list{
    margin-top: 90px;
    display: table;
    margin-left: auto; margin-right: auto;


}
.product-table{
    width: 500px;
    border-collapse: collapse;
}
.product-table td{
    padding: 3px 0;
    text-align: center;
}